{% extends 'base.html' %}
{% load static %}
{% block title %}Файлы ТЗ{% endblock %}
{% block content %}

<h2>Список заказчиков</h2>

<table class="table table-striped table-hover" bgcolor="#efefef" border="black">
    <thead>
    <tr>
        <th scope="col">Наименование заказчика</th>
        <th scope="col">Контактное лицо</th>
        <th scope="col">Адрес заказчика</th>

    </tr>
    </thead>

    <tbody>
    {% for customer in context.customers %}
    <tr>
        <td>{{ customer.customers_mame }}</td>
        <td>{{ customer.customers_contact_person }}</td>
        <td>{{ customer.customers_address }}</td>


    </tr>
    {% endfor %}
    </tbody>

</table>

{% endblock %}