{% extends 'base.html' %}
{% block title %} Детали заказа {% endblock %}

{% block content %}

<div class="card text-center">
    <ul class="list-group list-group-flush">

        <li class="list-group-item"><b>Наименование заказчика:</b> {{ context.order.customers }}</li>
        <li class="list-group-item"><b>Наименование товара:</b> {{ context.order.name_of_goods }}</li>
        <li class="list-group-item"><b>Дата подписания договора:</b> {{ context.order.date_of_contract }}</li>
        <li class="list-group-item"><b>Дата поставки:</b> {{ context.order.date_of_delivery }}</li>
        <li class="list-group-item"><b>Состояние заказа:</b> {{ context.order.contract_status }}</li>
        <li class="list-group-item"><b>Технические требования:</b>
            {% for requirement in context.requirements %}
            {{ requirement.docs }}
            {% endfor %}
        </li>
        <li class="list-group-item"><b>Краткие Технические требования:</b><br><br>
            {% for requirement in context.requirements %}
            <p class="card-text">{{ requirement.text }}</p>{% endfor %}
        </li>
        <li class="list-group-item"><b>Комментарии к заказу:</b>
            {% for comment in context.comments %}
            <br><br>{{ comment.author }}<br>{{ comment.text }}<br>{{ comment.created_at }}
            {% endfor %}
        </li>

    </ul>
    <a href={% url 'add_comment' order_id=context.order.id %} class="btn btn-primary">Добавить комментарий</a>
</div>


{% endblock %}