.card-body {
    background-color: efefef;

}

.nav nav-pills nav-fill {
    background-color: red;

}


.book-table {
    margin-top: 40px;
}


img {
    border-radius: 40px;

}

.card text-center {
    margin-top: 50px;
    left: 40%;
}

.book-table {
    margin-top: 40px;
}